<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ben Thomson Portfolio</title>
  <link rel="icon" href="images/Ben.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles/exercise.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand font-weight-bold" href="index.html">Ben Thomson</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mr-3">
            <a class="nav-link text-dark" href="#front-end">Front-end</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#data-vis">Data Vis</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div id="main" class="container my-5">
    <section v-for="item in contents" :id="item.type">
      <h1 class="my-5"><span>{{ item.type }}</span></h1>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" v-for="exercise in item.exercises">
          <div class="card h-100">
            <div class="card-header">
              <span class="fw-bold">{{ exercise.name }}</span>
            </div>
            <div class="card-body d-flex flex-column p-0">
              <p class="card-text mb-auto p-3">{{ exercise.description }}</p>
              <div class="p-3 button">
                <button type="button" class="btn btn-outline-primary btn-sm"><a :href="exercise.demo"
                    target="_blank">Demo</a></button>
                <button type="button" class="btn btn-outline-primary btn-sm"><a :href="exercise.source"
                    target="_blank">Code</a></button>
              </div>
              <div class="cover"></div>
            </div>
            <div class="card-footer">
              <span v-for="tag of exercise.tags" class="badge bg-secondary me-1">{{tag}}</span>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <script>
    let contents = [
      {
        type: 'front-end',
        exercises: [
          {
            name: 'Canvas Editor',
            description: 'An image editor power by Canvas-2D.',
            img: '',
            demo: 'https://github.com/Benbinbin/canvas-editor',
            source: 'https://benbinbin.github.io/canvas-editor/',
            tags: ['Vue.js', 'Canvas']
          },
          {
            name: 'OCR-MapDown',
            description: 'An ocr application of MapDown Web App.',
            img: '',
            demo: 'https://github.com/Benbinbin/OCR-MapDown',
            source: 'https://benbinbin.github.io/OCR-MapDown/',
            tags: ['Vue.js', 'Canvas', 'OCR']
          },
          {
            name: 'Apple Home Page',
            description: 'Using HTML and CSS build a clone of Apple Home page.',
            img: ``,
            demo: 'https://benbinbin.github.io/Apple-Page/',
            source: 'https://github.com/Benbinbin/Apple-Page',
            tags: ['HTML', 'CSS']
          },
          {
            name: 'Github Page',
            description: 'Using HTML and Tailwind build a clone of Github web page.',
            img: `url('images/github-tailwind.png')`,
            demo: 'https://benbinbin.github.io/github-tailwind/',
            source: 'https://github.com/Benbinbin/github-tailwind',
            tags: ['Tailwind']
          },
          {
            name: 'Food Recipes',
            description: 'Using HTML and Tailwind build a responsive web page.',
            img: `url('images/food-tailwind.png')`,
            demo: 'https://benbinbin.github.io/github-tailwind/',
            source: 'https://github.com/Benbinbin/github-tailwind',
            tags: ['Tailwind']
          },
          {
            name: 'Digital Market',
            description: 'E-commerce website power by Bootstrap.',
            img: `url('images/digita-market.png')`,
            demo: 'https://benbinbin.github.io/DigitalMarket/',
            source: 'https://github.com/Benbinbin/DigitalMarket',
            tags: ['Bootstrap']
          },
          {
            name: 'Sweetaste',
            description: 'A dessert shop website power by Bootstrap.',
            img: `url('images/sweetaste.png')`,
            demo: 'https://benbinbin.github.io/Dessert-shop/',
            source: 'https://github.com/Benbinbin/Dessert-shop',
            tags: ['Bootstrap', 'Scss']
          },
          {
            name: 'Dashboard',
            description: 'A dashboard power by Vue.js.',
            img: `url('images/dashboard-vue.png')`,
            demo: 'https://benbinbin.github.io/dashboard-vue',
            source: 'https://github.com/Benbinbin/dashboard-vue',
            tags: ['Vue.js']
          },
          {
            name: 'Todo App',
            description: 'Todo app power by Vue.js.',
            img: `url('images/todos-vue-js.png')`,
            demo: 'https://benbinbin.github.io/Todo-Demo-Vue/',
            source: 'https://github.com/Benbinbin/Todo-Demo-Vue',
            tags: ['Vue.js']
          },
          {
            name: 'Kitten Pictures',
            description: 'A Chrome Extension to change the images on web page to cute kitten pictures by one click.',
            img: `url('images/kitten-pictures.png')`,
            source: 'https://github.com/Benbinbin/Kitten-Pictures',
            tags: ['Chrome Extension']
          },
          {
            name: 'Frogger Game',
            description: 'A classic arcade game.',
            img: `url('images/frogger.png')`,
            demo: 'https://benbinbin.github.io/frontend-nanodegree-arcade-game/',
            source: 'https://github.com/Benbinbin/frontend-nanodegree-arcade-game',
            tags: ['JavaScript']
          },
          {
            name: 'Matching Game',
            description: 'Card matching game also called Concentration.',
            img: `url('images/matching-game.png')`,
            demo: 'https://benbinbin.github.io/memory-game/',
            source: 'https://github.com/Benbinbin/memory-game',
            tags: ['JavaScript']
          },
        ]
      },
      {
        type: 'data-vis',
        exercises: [
          {
            name: 'Line Chart',
            description: 'Visualize the personal consumption data.',
            img: `url('images/line-chart-echarts.png')`,
            demo: 'https://benbinbin.github.io/Echarts-Learning/Echarts-Projects/project09_line_chart/index.html',
            source: 'https://github.com/Benbinbin/Echarts-Learning/tree/master/Echarts-Projects/project09_line_chart',
            tags: ['ECharts']
          },
          {
            name: 'Calendar Chart',
            description: 'Visualize the health data.',
            img: `url('images/keep-fit-echarts.png')`,
            demo: 'https://benbinbin.github.io/Echarts-Learning/Echarts-Projects/project10_calendar_chart/index.html',
            source: 'https://github.com/Benbinbin/Echarts-Learning/tree/master/Echarts-Projects/project10_calendar_chart',
            tags: ['ECharts']
          },
          {
            name: 'Candlestick Chart',
            description: 'Visualize the stock data and simulate asynchronous data loading.',
            img: `url('images/candlestick-chart-echarts.png')`,
            demo: 'https://benbinbin.github.io/Echarts-Learning/Echarts-Projects/project11_candlestick_chart/index.html',
            source: 'https://github.com/Benbinbin/Echarts-Learning/tree/master/Echarts-Projects/project11_candlestick_chart',
            tags: ['ECharts']
          },
          {
            name: 'Company Staff Relationship Visualization',
            description: 'Visualize the company employees hierarchy.',
            img: `url('images/staff-relationship-echarts.png')`,
            demo: 'https://benbinbin.github.io/Echarts-Learning/Echarts-Projects/project18_19_tree_and_treemap/index.html',
            source: 'https://github.com/Benbinbin/Echarts-Learning/tree/master/Echarts-Projects/project18_19_tree_and_treemap',
            tags: ['ECharts']
          },
          {
            name: 'Delivery Route Dynamic Visualization',
            description: 'Visualize the takeaway routes data.',
            img: `url('images/takeout-route-echarts.png')`,
            demo: 'https://benbinbin.github.io/Echarts-Learning/Echarts-Projects/project13_takeout_route/index.html',
            source: 'https://github.com/Benbinbin/Echarts-Learning/tree/master/Echarts-Projects/project13_takeout_route',
            tags: ['ECharts']
          },
          {
            name: 'Investment Relationship OD Line Map',
            description: 'Visualize the investment relationship between cities in China.',
            img: `url('images/cities-investment-echarts.png')`,
            demo: 'https://benbinbin.github.io/Echarts-Learning/Echarts-Projects/project14_investment/index.html',
            source: 'https://github.com/Benbinbin/Echarts-Learning/tree/master/Echarts-Projects/project14_investment',
            tags: ['ECharts']
          },
          {
            name: 'Urban Population Data Monitor',
            description: 'Visualize urban crowd data over time and show it as 3D bar with WebGL technology.',
            img: `url('images/urban-crowd-echarts-gl.png')`,
            demo: 'https://benbinbin.github.io/Echarts-Learning/Echarts-Projects/project15_urban_crowd_monitor/',
            source: 'https://github.com/Benbinbin/Echarts-Learning/tree/master/Echarts-Projects/project15_urban_crowd_monitor',
            tags: ['ECharts-GL']
          },
          {
            name: 'Smart City',
            description: 'Visualize the data about the West Lake (in Hangzhou) with WebGL technology and combine multiple charts.',
            img: `url('images/smart-city-echarts-gl.png')`,
            demo: 'https://benbinbin.github.io/Echarts-Learning/Echarts-Projects/project16_smart_city/index.html',
            source: 'https://github.com/Benbinbin/Echarts-Learning/tree/master/Echarts-Projects/project16_smart_city',
            tags: ['ECharts-GL']
          },
          {
            name: 'Film Flowers',
            description: 'Using D3.js to visualize the movies data.',
            img: `url('images/film-flowers.png')`,
            demo: 'https://benbinbin.github.io/film-flowers-d3/',
            source: 'https://github.com/Benbinbin/film-flowers-d3',
            tags: ['D3.js']
          },
        ]
      }
    ]

    new Vue({
      el: '#main',
      data: {
        contents: contents
      }
    })
  </script>
</body>

</html>