html {
  scroll-behavior: smooth;
}

body,
section,
#jumbotron {
  background-color: #F4F6FA;
  color: #000;
}

#about img {
  box-shadow: 11px 11px 22px #e8e8e8,
    -11px -11px 22px #ffffff;
}

.blog-link {
  font-style: italic;
  text-decoration: none;
}

.card {
  transition: box-shadow 0.5s ease;
  border: 15px solid #F8F9FA
}
.card:hover {
  box-shadow: 3px 0px 30px 0px rgba(0, 0, 0, 0.3);
}
.card .bg-image {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #D8D8D8;
}
.card a {
  text-decoration: none;
}

footer {
  background-color: #FFFFFF;
}

footer a {
  color: #000;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
}

footer img {
  width: 30px;
}

