html {
  scroll-behavior: smooth;
}

body,
section,
#jumbotron {
  background-color: #F4F6FA;
  color: #000;
}

#about img {
  box-shadow: 11px 11px 22px #e8e8e8,
    -11px -11px 22px #ffffff;
}

.blog-link {
  font-style: italic;
}

#skill img {
  width: 30px;
  transition: transform 0.3s ease;
}

#skill img:hover {
  transform: scale(1.2);
}

footer {
  background-color: #FFFFFF;
}

footer a {
  color: #000;
}

footer a:hover {
  text-decoration: none;
}

footer img {
  width: 30px;
}